<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock Paper Scissors Game!!</title>
    </head>
    <body>
        <div class="container">
            <h1> Rock, Paper, Scissors Game!!</h1>
            <h3>...and the winner is:</h3>
                <p>{{ winner }}</p>

                <form action='/'>
                    <input type="submit" class='btn-success' value="Play again!">
                </form>


        </div>
    </body>
</html>
