<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock Paper Scissors Game!!</title>
    </head>
    <body>
        <div class="container">
            <h1> Rock, Paper, Scissors Game!!</h1>
            <h3> Player 2, make your choice below. </h3>
                <form id="player 2" action="/gameresult" method="get">
                        <select name="input2">
                        <option value="Rock">Rock</option>
                        <option value="Paper">Paper</option>
                        <option value="Scissors">Scissors</option>
                        </select>
                    <input type="submit" value="See who wins!">
                </form>



        </div>
    </body>
</html>
